/.idea/.idea.LibrettoVoti/.idea/.gitignore
/.idea/.idea.LibrettoVoti/.idea/encodings.xml
/.idea/.idea.LibrettoVoti/.idea/indexLayout.xml
/.idea/.idea.LibrettoVoti/.idea/misc.xml
/bin/Debug/net5.0/LibrettoVoti.deps.json
/bin/Debug/net5.0/LibrettoVoti.dll
/bin/Debug/net5.0/LibrettoVoti.pdb
/bin/Debug/net5.0/LibrettoVoti.runtimeconfig.dev.json
/bin/Debug/net5.0/LibrettoVoti.runtimeconfig.json
/bin/Debug/net5.0/ref/LibrettoVoti.dll
/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/obj/Debug/net5.0/LibrettoVoti.AssemblyInfo.cs
/obj/Debug/net5.0/LibrettoVoti.AssemblyInfoInputs.cache
/obj/Debug/net5.0/LibrettoVoti.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0/LibrettoVoti.assets.cache
/obj/Debug/net5.0/LibrettoVoti.csproj.AssemblyReference.cache
/obj/Debug/net5.0/LibrettoVoti.csproj.CoreCompileInputs.cache
/obj/Debug/net5.0/LibrettoVoti.csproj.FileListAbsolute.txt
/obj/Debug/net5.0/LibrettoVoti.dll
/obj/Debug/net5.0/LibrettoVoti.genruntimeconfig.cache
/obj/Debug/net5.0/LibrettoVoti.pdb
/obj/Debug/net5.0/ref/LibrettoVoti.dll
/obj/LibrettoVoti.csproj.nuget.dgspec.json
/obj/LibrettoVoti.csproj.nuget.g.props
/obj/LibrettoVoti.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
